@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Futuristic';
  src: url(./assets/Fonts/futurist_fixed_width/FUTRFW.TTF);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;;
  }

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#header-img {
  width: 70px;
  height: 70px;
}  

nav {
  margin-left: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-family: 'Futuristic', monospace;
  color: #2b3b2b;
}

.nav-link:hover {
  font-weight: bold;
  color: #2d4b2d;
}

.nav-link:active {
  font-weight: bold;
}

#logo {
  padding-left: 20px;
  padding-right: 50px;
}

#menu {
  padding-left: 50px;
  padding-right: 20px;
}

.menu-style {
  cursor: pointer;
  font-size: 24px;
  color: #2b3b2b;
}

.menu-style:hover {
  font-weight: bold;
}

#container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

#logoText {
  max-width: 144px;
  margin-right: 20px;
  margin-left: 80px;
}

#logoText > h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 40px;
  color: #142b14;
}

.products {
  margin: 0 15px;
  max-width: 365px;
  padding: 10px;
}

.products:hover {
  border: 1px solid #708570;
}

.productTitle {
  margin-bottom: 10px;
  font-family: 'Futuristic', monospace;
  font-size: 16px;
  letter-spacing: -3px;
  color: #142b14;
}

#product2 {
  margin-right: 20px;
}

.description {
  text-align: justify;
  color: #708570;
}

form {
  min-width: 200px;
  height: 150px;
  margin-right: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

#form-header {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 500;
}

#email {
  width: 90%;
  margin-top: 15px;
  background-color:#c7ddc7;
  border: 1px solid #708570;
  line-height: 22px;
  font-family: monospace;
  font-size: 14px;
  color: #2d4b2d;
}

#submit {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #708570;
  border-radius: 3px;
  background-color: #4e804e;
  font-family: 'Futuristic', monospace;
  font-size: 11px;
  letter-spacing: -2px;
  color: #c9e7c9;
}

#submit:hover {
  background-color: #649c64;
  color: #c3dbc3;
}

#submit:active {
  transform: scale(0.95);
}

#video-container {
  margin: 0 auto;
  position: relative;
}

#video {
  position: absolute;
  width: 100%;
  height: 61vh;
}

#container-videoText {
  display: relative;
}

#videoTexBackground {
  width: 100% ;
  height: 80px;
  position: absolute;
  bottom: 0;
  background-color: aquamarine;
}